@import "tailwindcss";

@font-face {
  font-family: 'YourFont';
  src: url('./fonts/Excon-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Afacad", sans-serif;
}
